#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background:#ffffcc; */
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  /* color: #ffffcc; */
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  /* color: #000; */
  margin: 0;
  padding: 0;
}

.swiper-pagination { 
  bottom: 10px;
  text-align: center;
}

.swiper {
  margin: 10px auto;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

@media(min-width:768px){
  .swiper{width:600px}
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  /* color: #fff; */
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(242, 243, 240);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(255, 255, 255);
}
